@tailwind base;
@tailwind components;
@tailwind utilities;
body,
footer {
  background-color: #f7f8ff;
}
body {
  & > main {
    min-height: calc(100vh - 90px);
  }
}
.bg-blue-700 {
  --tw-bg-opacity: 1;
  background-color: #0a3398 !important;
}
.section {
  margin-top: 40px;
  margin-bottom: 40px;
  @media (min-width: 768px) {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
.gradient-subtitle {
  background-image: linear-gradient(to bottom left, #953a1d, #e2ac30);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.gradient-header {
  background: rgb(48, 97, 21);
  background: linear-gradient(
    146deg,
    rgba(48, 97, 21, 1) 0%,
    rgba(86, 139, 57, 1) 47%,
    rgba(255, 255, 255, 1) 100%
  );
}
nav.header {
  background-color: #f7f8ff;
}
.header {
  margin-left: -20px;
  margin-right: -20px;
  img:not(.navbarLogo) {
    height: auto;
    max-width: 100%;
    object-fit: cover;
    max-height: 350px;
    width: 100%;
  }
}
.border-bt-green {
  @media (max-width: 800px) {
    border-bottom: 1px solid #568b39;
  }
}
.react-tweet-theme {
  max-height: 500px;

  @media (min-width: 768px) {
    max-width: 25% !important;
  }
  --tweet-bg-color-hover: white;
}
.organigrama {
  .image-container {
    img {
      max-height: 80vh;
      object-fit: contain;

      @media (min-width: 800px) {
        width: 45%;
      }
    }
  }
}
.out-container {
  margin-left: -20px;
  margin-right: -20px;
}
.actes-page {
  iframe {
    width: 100%;
    max-width: 720px;
    height: 100%;
    max-height: 480px;
    @media (min-width: 800px) {
      min-height: 400px;
    }
  }
}
.estatuts-page {
  iframe {
    width: 100%;
    max-width: 720px;
    height: 100%;
    @media (min-width: 800px) {
      min-height: 480px;
    }
  }
}
.googleCalendar {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 100%;
  @media (min-width: 800px) {
    width: 75%;
    padding-bottom: 50%;
  }
}

.googleCalendar iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.navbarLogo {
  height: 60px;
  @media (min-width: 576px) {
    height: 70px;
  }
}
.navbarName {
  display: none;
  @media (min-width: 576px) {
    display: block;
  }
}
